* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla",sans-serif;
}

.main {
  width: 100%;
}

.main img {
  width: 100%;
}

.program-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program-container .program {
  position: relative;
  width: 100%;
  height: 100%;
}

.program-container .program:hover > .program-img img {
  transform: scale(1.2);
  transition: 1s ease;
}

.program-container .program .program-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.program-container .program .program-img img {
  width: 100%;
  z-index: -1;
}

.program-container .program .program-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.363);
}

.program-container .program .content {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.program-container .program .content .text h2 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 15px;
}

.program-container .program .content .text a {
  color: #fff;
  text-decoration: none;
}